#IpInfo td.tdTitle[b-9m6japmenp] {
    white-space: nowrap;
    width: 1%;
    padding-right: 20px;
}

#p1[b-9m6japmenp], #p2[b-9m6japmenp] {
    padding-left: 0;
    padding-right: 5px;
}

h2[b-9m6japmenp] {
    font-size: 18px;
}