/* /Pages/Index.razor.rz.scp.css */
#IpInfo td.tdTitle[b-9m6japmenp] {
    white-space: nowrap;
    width: 1%;
    padding-right: 20px;
}

#p1[b-9m6japmenp], #p2[b-9m6japmenp] {
    padding-left: 0;
    padding-right: 5px;
}

h2[b-9m6japmenp] {
    font-size: 18px;
}
/* /Pages/Services/Lookup.razor.rz.scp.css */
#p1[b-pigjel4idk], #p2[b-pigjel4idk] {
    padding-left: 0;
    padding-right: 5px;
}

td.tdTitle[b-pigjel4idk] {
    white-space: nowrap;
    width: 1%;
    padding-right: 20px;
}
/* /Pages/Tools/GuidGenerator.razor.rz.scp.css */
#generatedGuid[b-br1wxhnkic] {
    background-color: #24262d;
    width: 100%;
    height: 30px;
}

#cp[b-br1wxhnkic] {
    cursor: pointer;
}
/* /Pages/Tools/PasswordGenerator.razor.rz.scp.css */
#generatedPass[b-kzo9yz4dam] {
    background-color: #24262d;
    width: 100%;
    height: 30px;
}

#cp[b-kzo9yz4dam] {
    cursor: pointer;
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-f2503g6i4z] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-f2503g6i4z] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-f2503g6i4z] {
    font-size: 1.1rem;
}

.oi[b-f2503g6i4z] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-f2503g6i4z] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-f2503g6i4z] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-f2503g6i4z] {
        padding-bottom: 1rem;
    }

    .nav-item[b-f2503g6i4z]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-f2503g6i4z]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-f2503g6i4z]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-f2503g6i4z] {
        display: none;
    }

    .collapse[b-f2503g6i4z] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
