@*<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">WebSite</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
    </nav>
</div>*@

@*-- Navigation--*@
    <aside class="navigation navigation-noamp">
        <nav>
            <ul class="nav luna-nav" itemscope itemtype="http://www.schema.org/SiteNavigationElement">
                @*-- IP --*@
                <li class="nav-category">
                    IP
                </li>
                <li id="ip_my" itemprop="name">
                    <NavLink itemprop="url" title="" href="" Match="NavLinkMatch.All">
                        What Is My IP
                    </NavLink>
                    @*<a href="/" itemprop="url" title="">What Is My IP</a>*@
                    @*Html.ActionLink("My IP", "", "", new {}, new {title = "", itemprop = "url"})*@
                </li>
                @if (1 == 2)
                {
                <li>
                    <a href="#ipcalculator" data-toggle="collapse" aria-expanded="false" title="">
                        IP Calculator v4
                        <span class="sub-nav-icon">
                            <i class="stroke-arrow"></i>
                        </span>
                    </a>
                    <ul id="ipcalculator" class="nav nav-second collapse">
                        <li id="ip_calcsubnet4" itemprop="name">
                            <a href="" itemprop = "url">Subnet Calculator</a>
                        </li>
                        <li id="ip_splitsubnet" itemprop="name">
                            <a href="" itemprop = "url">Split Subnet</a>
                        </li>
                        <li id="ip_mergesubnet" itemprop="name">
                            <a href="" itemprop = "url">Merge Subnet</a>
                        </li>
                    </ul>
                </li>

                <li id="ip_calcsubnet6" itemprop="name">
                    <a href="" itemprop = "url">IP Calculator v6</a>
                </li>
                }

                <li id="ip_ports" itemprop="name">
                    <a href="" itemprop = "url">TCP / UDP Port Numbers</a>
                </li>
                @*-- IP --*@

                @*-- Services --*@
                <li class="nav-category">
                    SERVICE
                </li>
                <li id="service_lookup" itemprop="name">
                    <a href="service/lookup" itemprop = "url">Address Lookup</a>
                </li>
                <li id="service_portsservice" itemprop="name">
                    <a href="" itemprop = "url">Open Ports Service</a>
                </li>
                <li id="service_whois" itemprop="name">
                    <a href="" itemprop = "url">Whois Lookup</a>
                </li>
                <li id="service_ssl" itemprop="name">
                    <a href="" itemprop = "url">SSL & Certificate</a>
                </li>

                @if (1 == 2)
                {
                <li id="service_ping" itemprop="name">
                    <a href="" itemprop = "url">Ping</a>
                </li>
                <li id="service_traceroute" itemprop="name">
                    <a href="" itemprop = "url">Trace Route</a>
                </li>
                <li id="service_blacklist" itemprop="name">
                    <a href="" itemprop = "url">Blacklist Check</a>
                </li>
                <li id="service_sharedip" itemprop="name">
                    <a href="" itemprop = "url">Shared IP and Domain</a>
                </li>
                }
                @*-- Services --*@

                @*-- Domain --*@
                @if (1 == 2)
                {
                <li class="nav-category">
                    DOMAIN
                </li>

                <li id="domain_dnslookup" itemprop="name">
                    <a href="" itemprop = "url">DNS Lookup</a>
                </li>
                }
                @*-- Domain --*@

                @*-- Tools --*@
                <li class="nav-category">
                    Tools
                </li>
                <li id="tools_passwordgenerator" itemprop="name">
                    <a href="" itemprop = "url">Password Generator</a>
                </li>
                <li id="tools_guidgenerator" itemprop="name">
                    <a href="" itemprop = "url">GUID (UUID) Generator</a>
                </li>
                @*-- Tools --*@

                @*-- Other --*@
                <li class="nav-category">
                    Other
                </li>
                <li id="tools_guidgenerator" itemprop="name">
                    <a href="https://github.com/nRafinia/RealIP.Info" itemprop = "url" target="_blank">Source code</a>
                </li>
                @*-- Other --*@

                <li class="nav-info">
                    @*<i class="pe pe-7s-shield text-accent"></i>*@
                    @*<img src="/images/logo34.png" class="logo34" alt=" " title="Real IP Info" />*@
                    <div class="m-t-xs">
                        <span class="c-white">Real IP Info</span> Is Free online network tools.
                        including what is my <span class="c-accent">ip</span>, ping, traceroute, whois, Dns lookup, <span class="c-accent">IP</span> Calculator,
                        <span class="c-accent">IP</span> & Domain information and more. @*Works with <span class="c-white">IPv4</span> and <span class="c-white">IPv6</span>.*@
                    </div>
                    <div class="m-t-xs">
                        <div class="row">
                            <h5>Social Networks</h5>
                            @*<a href="http://bit.ly/RealipFacebook" target="_blank">
                                    <i class="fa fa-facebook-square text-accent"></i>
                                </a>&nbsp;
                                <a href="http://bit.ly/RealipTwitter" target="_blank">
                                    <i class="fa fa-twitter-square text-accent"></i>
                                </a>&nbsp;
                                <a href="http://bit.ly/RealipPlus" target="_blank">
                                    <i class="fa fa-google-plus-square text-accent"></i>
                                </a>&nbsp;
                                <a href="http://bit.ly/RealipInstagram" target="_blank">
                                    <i class="fa fa-instagram text-accent"></i>
                                </a>&nbsp;*@
                            <a href="http://bit.ly/realipinfoTelegramC" target="_blank" title="Telegram Channel">
                                <i class="fa fa-telegram text-accent"></i>
                            </a>&nbsp;

                            @*<h5>Extensions</h5>
                            <a href="http://bit.ly/RealipChrome" target="_blank" id="chromeEx">
                                <i class="fa fa-chrome text-accent"></i>
                            </a>&nbsp;*@
                            @*<a href="http://bit.ly/RealipFirefox" target="_blank" id="firefoxEx">
                                    <i class="fa fa-firefox text-accent"></i>
                                </a>&nbsp;*@
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
    </aside>
    @*-- End navigation--*@

@code {
    @*private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }*@
}
